@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    list-style: none;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(52, 54, 52, 0.49) ;
    background-color: #e3e6f3;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-items{
    display: flex;
    align-items: center;
}
.navbar1 ul{
    display: flex;
    
    
}

.navbar1 ul li{
    padding: 0 20px;
    
}
.navbar1 ul li a{
    color: #000;
    position: relative;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: .4px;
    text-decoration: none
}
.navbar1 ul li a:hover{
    color: green;
    transition: 0.3s;
}
.navbar1 ul li a:after{
    content:"";
    width: 50%;
    height: 2px;
    bottom: -10px;
    position: absolute;
    
    left: 40%;
    background-color: green;
    transition: 0.3s;
    

}
.navbar1 ul li a:hover:after{
    width: 100%;
    left: 0;
    background-color: rgb(17, 0, 3);
}
.bag{
    color: #000;
}
.bag:hover{
    color: green;
}



.top-banner{
    /* background-color:#e3e6f3 ; */
    background: url(hero4.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    
}
.top-banner h4{
    font-size: 2rem;
    padding-bottom: 20px;
    color: #ffffffaf;
}
.top-banner h2{
    font-size: 3rem;
    padding-bottom: 25px;
    
}
.top-banner span{
    font-size: 75px;
    color: green;
}
.top-banner p{
    font-size: 20px;
    padding-bottom: 20px;
}
.top-banner button{
    border: none;
    outline: none;
    background: url(button.png);
    background-size: cover;
    height: 60px;
    width: 274px;
    background-position: center;
    font-size: 28px;
    font-weight: 450;
    font-style: italic;
    letter-spacing: 3px;
    cursor: pointer;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 80px 30px;
    
}
.postad{
    text-align: center;
    border: #3231313f solid 1px;
    padding: 30px;
}
.postad p{
    background-color: rgba(128, 81, 0, 0.667);
    border-radius: 4px;
    padding: 5px 4px 12px 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 15px;
}
.services :nth-child(2) p{
    background-color: rgb(92, 184, 92);
}
.services :nth-child(3) p{
    background-color: rgb(255, 153, 0);
}
.services :nth-child(4) p{
    background-color: rgba(251, 0, 255, 0.644);
}
.services :nth-child(5) p{
    background-color: rgb(128, 81, 0);
    }
.services :nth-child(6) p{
    background-color: rgb(255, 153, 0);
}

/* featured section  */

#featured h1{
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
}
#featured p{
    text-align: center;
    color: rgb(110, 110, 107);
}

.pro-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 80px;
}
.product{
    width: 280px ;
    border:1px solid #ebebeb;
    box-shadow: 0px 0px 10px -2px grey;
    transition: all .5s ease-in-out;
    position: relative;
    padding: 13px ;
    margin-bottom: 25px;
    border-radius: 25px;
}
.product:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 10px 5px -10px -5px 5px grey;
}
.product img{
    width: 100%;
    border-radius: 25px;
}
.product h6{
    font-weight: 550;
    color: #969696;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    padding: 5px;

}
.product>* {
    text-align:center;
    margin-bottom: 5px;
}
.p-price{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.p-price h4{
    font-size: 16px;
    color: rgb(30, 132, 30);
    font-weight: 700;
}
.cart-icon{
    color:#3c2b0a;
    position: relative;
    background-color: rgba(0, 128, 0, 0.342);
    border-radius: 50%;
    padding: 10px;
}
.stars{
    color: yellowgreen;
}
.cart-icon:after{
    content:"";
    background-color: #000;
    height: 3px;
    width: 0;
    position: absolute;
    left: 2px;
    bottom: -6px;
    transition: 0.8s;

}
.cart-icon:hover::after{
    width: 100%;
    background-color: green;
}
.cart-icon:hover{
    transform: scale(1.5);
}
.poster-head h3{
    font-size: 28px;
    
}
.poster-head h1{
    font-size: 42px;
}
.poster-head button{
    font-size: 16px;
    padding: 10px 25px 10px;
    border-radius: 8px;
}
.poster-head{
    text-align: center;
    background: url(b2.jpg);
    color: white;
    background-position: center;
    background-size: cover;
}
.poster-head>*{
    margin-bottom: 20px;
    padding: 20px;
}
.new-featured{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.new-featured>*{
    margin-bottom: 20px;
    text-transform: capitalize;
    
}
.new-featured h1{
    font-size: 42px;
}
/* css responsive navbar elements */

input[type="checkbox"]{
    display: none;
}
.menu-btn i{
    display: none;
}
/* ad banners css elements  */
.lg-section{
    display:flex ;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    
}
.lg-section>*{
    margin: 0px 15px;
    
    min-width: 580px;
    height: 300px;
    
}
.lg1{
    text-align: start;
    background-image: url(b17.jpg);
    background-size: cover;
    padding: 40px;
}
.lg2{
    text-align: start;
    background-image: url(b10.jpg);
    background-size: cover;
    padding: 40px;
}
.lg1>*{
    margin-bottom: 0.8rem;
    color: white;
}
.lg1 h1{
    font-weight: bold;
    font-size: 42px;
}
.lg1 button{
    background-color:transparent;
    border: 1px solid white;
    padding: 15px 25px;
    cursor: pointer;
}
.lg1 button:hover{
    background-color: rgba(119, 83, 14, 0.234);
}
.lg2 h1{
    font-weight: bold;
    font-size: 42px;
}
.lg2 button{
    background-color:transparent;
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
}
.lg2 button:hover{
    background-color: rgba(24, 33, 24, 0.489);
}
.lg2>*{
    margin-bottom: 0.8rem;
    text-align: start;
    color: white;
}
/* small; banner css elements  */
.sm-section{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.sm-section div{
    min-width: 370px;
  height: 200px;
  margin:0 20px;
}
.sm1{
    background-image: url(b7.jpg);
    background-size: cover;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}
.sm1>*{
    margin-bottom: 20px;
}
.sm2{
    background-image: url(b4.jpg);
    
    background-size: cover;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}
.sm2>*{
    margin-bottom: 20px;
}
.sm3{
    background-image: url(b18.jpg);
    
    background-size: cover;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    
}
.sm3>*{
    margin-bottom: 20px;
    z-index: 3;
    
}

/* css elements for newsletter  */
#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 19, 68);
    background-image: url(b14.png);
    color: white;
    
}
#newsletter>*{
    padding: 40px 60px;
}

.nt-head h1{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 42px;
}
.nt-head h5{
    font-size: 18px;
}
.nt-head span{
    color: yellow;
}
.form input{
    padding: 20px;
    max-width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
}
.form button{
    /* padding: 16px 20px; */
    margin-left: 0px;
  padding: 20px;
  border: none;
  width: 120px;
  background-color: #088178;
  color: white;
  font-size: 17px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  
}
/* footer section css elements  */
footer{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: #ECECEC;
    
    
}
.contact{
    text-align: left;
    line-height: 2.9em;
    letter-spacing: 1px;
    font-style: italic;
    color: #969696;
}
.about{
    text-align: left;
    line-height: 2.54em;
    letter-spacing: 1px;
    /* font-style: italic; */
    color: #969696;
}
.about ul li a,
 .account ul li a {
    color:#969696 ;
}

.account,
 .app{
    text-align: left;
    line-height: 2.5em;
    letter-spacing: 1px;
    color: #969696;
}
.account  .first,
.about .first{
    color: #000;
}
.first{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.socials i{
    color: #000;
    margin-right: 10px;
}
.imgs img{
    border-radius: 4px;
}
#projects h1{
    font-size: 42px;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
    position: relative;
    
}
#projects h1:after{
    position: absolute;
    content:"";
    width: 18%;
    height: 2px;
    background-color: green;
    top: 63%;
    left: 41%;
}
